<!--The content below is only a placeholder and can be replaced.-->
<app-person></app-person>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <nav>
    <ul>
      <li><a href="/failures">View Fail Results</a></li>
    </ul>
  </nav>
  <section id="main">
    <!--<app-failures [fail]="fail"(onyell)="yell($event)">hello there</app-failures>-->
    <router-outlet></router-outlet>
  </section>
<!--<p>This is where we can put stuff to keep it consistent on all pages!</p>-->
</div>
<!--<router-outlet></router-outlet>-->
