<!--The content below is only a placeholder and can be replaced.-->
<nav class="uk-navbar-container" style= "top: 0px;" uk-navbar>
    <div class= "uk-navbar-left" style= "margin-right: 30px">
        <div class= "uk-navbar-right" style= "margin-right: 30px">
            <img data-src="../assets/projlogo.png" width="239" height="100" alt="" uk-img>
          </div>
      </div>
  <div class= "uk-navbar-right" style= "margin-right: 30px">
        <a [routerLink]="['/']">Projects</a>
    </div>
</nav>
<div style="text-align:center">
  <!-- <h1>
    Welcome to {{ title }}!
  </h1> -->

  <nav>
    <ul>
      <!--<li><a href="/failures">View Fail Results</a></li>-->
    </ul>
  </nav>
  <section id="main">
    <!--<app-failures [fail]="fail"(onyell)="yell($event)">hello there</app-failures>-->
    <router-outlet></router-outlet>
  </section>
<!--<p>This is where we can put stuff to keep it consistent on all pages!</p>-->
</div>
