<h1>
  Welcome to {{ title }}!
</h1> 
<p>
  overview works!
</p>
<div class="durration_box">
  <div class="label">Total Duration</div>
  <div class="durration">{{durration}}</div>
</div>
<div class="statarea">
  <div class="statbox">
    <div class="label"id="pass">Passed</div>
    <div class="numbox">{{ passed }}</div>
  </div>
  <div class="statbox">
    <div class="label"id="fail"><a href= "/failures">Failed</a></div>
    <div class="numbox">{{ failed }}</div>
  </div>
  <div class="statbox">
    <div class="label">Ignored</div>
    <div class="numbox">{{ no_run }}</div>
  </div>
  <div class="statbox">
    <div class="label">Total</div>
    <div class="numbox">{{ total }}</div>
  </div>
  <div class="statbox">
    <div class="label">New Failures</div>
    <div class="numbox">{{ new_fail }}</div>
    <div class="viewmore">View failed tests</div>
  </div>
</div>


<h2>Test Lists</h2>
<ul class="tests">
  <li *ngFor = "let test of tests">
    <div class = "testlist" [ngStyle]= "{'background-color': test.status === 'passed' ? 'palegreen' : 'orangered' }">
        <h2 class="badge">{{test.name}}</h2>
          <ul>
            <div class = "details">{{test.status}}!</div>
            <div class = "details">Run Count: {{test.run_count}}</div>
            <div class = "details">Last Run: {{test.last_run}}</div>
            <div class = "details">Project: {{test.project_id}}</div>
          </ul>   
    </div>
    
  </li>
</ul>