<p>
  overview works!
</p>
<div class="durration_box">
  <div class="label">Total Duration</div>
  <div class="durration">{{durration}}</div>
</div>
<div class="statarea">
  <div class="statbox">
    <div class="label"id="pass">Passed</div>
    <div class="numbox">{{ passed }}</div>
  </div>
  <div class="statbox">
    <div class="label"id="fail">Failed</div>
    <div class="numbox">{{ failed }}</div>
  </div>
  <div class="statbox">
    <div class="label">Ignored</div>
    <div class="numbox">{{ no_run }}</div>
  </div>
  <div class="statbox">
    <div class="label">Total</div>
    <div class="numbox">{{ total }}</div>
  </div>
  <div class="statbox">
    <div class="label">New Failures</div>
    <div class="numbox">{{ new_fail }}</div>
    <div class="viewmore">View failed tests</div>
  </div>
</div>
