h1{

  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: black;
  font-family: monospace;
  visibility: hidden;
}
body{
  background-color: #ffcccc;
  font-family: monospace;
}
.numbox {
  color: black;
}

.durration{
  letter-spacing: normal;
  color: red;
}
#pass {
  color: green;
}
#fail{
  color: red;
}
.viewmore{
  visibility: hidden;
}
.testlist{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 50.00%;

}
.statbox{
  margin-bottom: 10px;
  font-size: 18pt;
}

.boldme{
  font-weight: bold;
  font-size: 14pt;
}
.details{
  text-align: left;
  font-family: Cambria, serif;
  color: black;
  padding: .3em;
}
.tm-sidebar-left {

  position: fixed;
  top: 105px;
  bottom: 0;
  box-sizing: border-box;
  width: 240px !important;
  padding: 40px 40px 60px 40px;
  border-right: 1px #e5e5e5 solid;
  overflow: auto;
  text-align: left;

}

.uk-container-small{
  margin-left: 250px;
}
@media only screen and (max-width: 970px) {
  .uk-container{
    margin-left: 10px;
  }
}
.failred{
  background-color: orangered;
}
.passgreen{
  background-color: lightgreen;
}
.ignoregrey{
  background-color: lightgrey
}